APP_ENV=local
PORT=8080
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@db.vvdgdcdogedbtawgvetb.supabase.co:5432/postgres
RABBITMQ_USER=user
RABBITMQ_PASS=pass
LOG_DIR=/tmp/job-logs
POD_NAME=local-test
POD_NAMESPACE=jobstar